/* style generalne - start */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

input {
    display: block;
}

/* wybór input po typie lub child */
input[type="text"]::-webkit-input-placeholder {
    color: yellow;
}

input[type="email"]::-webkit-input-placeholder {
    color: red;
}

